# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.vscode
/.cache/__tests__/.babelrc
/.cache/.eslintrc.json
/.cache/commonjs/api-runner-browser.js
/.cache/api-runner-browser.js
/.cache/commonjs/api-runner-browser-plugins.js
/.cache/api-runner-browser-plugins.js
/.cache/commonjs/api-runner-ssr.js
/.cache/api-runner-ssr.js
/.cache/commonjs/api-ssr-docs.js
/.cache/api-ssr-docs.js
/.cache/commonjs/app.js
/.cache/app.js
/.cache/async-requires.js
/.cache/babelState.json
/.cache/commonjs/create-react-context.js
/.cache/create-react-context.js
/.cache/commonjs/default-html.js
/.cache/default-html.js
/.cache/dev-404-page.js
/.cache/__tests__/dev-loader.js
/.cache/commonjs/dev-loader.js
/.cache/dev-loader.js
/.cache/__tests__/__snapshots__/dev-loader.js.snap
/.cache/commonjs/develop-static-entry.js
/.cache/develop-static-entry.js
/.cache/commonjs/emitter.js
/.cache/emitter.js
/.cache/commonjs/ensure-resources.js
/.cache/ensure-resources.js
/.cache/__tests__/ensure-resources.tsx
/.cache/__tests__/error-overlay-handler.js
/.cache/commonjs/error-overlay-handler.js
/.cache/error-overlay-handler.js
/.cache/__tests__/find-path.js
/.cache/commonjs/find-path.js
/.cache/find-path.js
/.cache/commonjs/gatsby-browser-entry.js
/.cache/gatsby-browser-entry.js
/public/index.html
/.cache/__tests__/loader.js
/.cache/commonjs/loader.js
/.cache/loader.js
/.cache/__tests__/__snapshots__/loader.js.snap
/.cache/match-paths.json
/.cache/__tests__/minimal-config.js
/.cache/commonjs/navigation.js
/.cache/navigation.js
/.cache/commonjs/normalize-page-path.js
/.cache/normalize-page-path.js
/public/page-data/404/page-data.json
/public/page-data/404.html/page-data.json
/public/page-data/dev-404-page/page-data.json
/public/page-data/index/page-data.json
/public/page-data/page-2/page-data.json
/.cache/commonjs/page-renderer.js
/.cache/page-renderer.js
/.cache/pages.json
/.cache/commonjs/prefetch.js
/.cache/prefetch.js
/.cache/commonjs/production-app.js
/.cache/production-app.js
/.cache/commonjs/public-page-renderer.js
/.cache/public-page-renderer.js
/.cache/commonjs/public-page-renderer-dev.js
/.cache/public-page-renderer-dev.js
/.cache/commonjs/public-page-renderer-prod.js
/.cache/public-page-renderer-prod.js
/.cache/commonjs/query-result-store.js
/.cache/query-result-store.js
/.cache/commonjs/react-lifecycles-compat.js
/.cache/react-lifecycles-compat.js
/.cache/redirects.json
/.cache/redux/redux.node.state_0
/.cache/redux/redux.rest.state
/.cache/commonjs/register-service-worker.js
/.cache/register-service-worker.js
/.cache/commonjs/root.js
/.cache/root.js
/.cache/commonjs/route-announcer-props.js
/.cache/route-announcer-props.js
/.cache/commonjs/socketIo.js
/.cache/socketIo.js
/.cache/__tests__/static-entry.js
/.cache/commonjs/static-entry.js
/.cache/static-entry.js
/.cache/__tests__/__snapshots__/static-entry.js.snap
/.cache/__tests__/strip-prefix.js
/.cache/commonjs/strip-prefix.js
/.cache/strip-prefix.js
/.cache/sync-requires.js
/.cache/test-require-error.js
